* {
  box-sizing: border-box;
}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row-1 {height: 8.33%;}
  .row-2 {height: 16.66%;}
  .row-3 {height: 25%;}
  .row-4 {height: 33.33%;}
  .row-5 {height: 41.66%;}
  .row-6 {height: 50%;}
  .row-7 {height: 58.33%;}
  .row-8 {height: 66.66%;}
  .row-9 {height: 75%;}
  .row-10 {height: 83.33%;}
  .row-11 {height: 91.66%;}
  .row-12 {height: 100%;}

  .mainContainer{
    height: 49.5rem;
    background-image: url('./components/home/milad-fakurian-GJKx5lhwU3M-unsplash.jpg');
    background-size: 100% 100%;
  }
  .body2Image{
    background-image: url('https://www.pngfind.com/pngs/b/249-2496396_people-pointing-png.png');
    background-size: 100% 100%;
    transform: scaleX(-1);
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .navContainer{
    background-image: url('./components/home/navbg.jpg');
    
    background-repeat: no-repeat;
  }
  .buyMainContainer{
    height: 49.5rem;
  }
.horizontalScroll{
  
  white-space: nowrap;
  
}
.horizontalScroll1{
  overflow: hidden;

  
}
  
.post-list {
  animation: slide infinite 10s alternate;
}

@keyframes slide {
0% {
  margin-left: 0px;
}
50% {
  margin-left: -100px;
}
100% {
  margin-left: -200px;
}
}
.post-list:hover {
  animation-play-state: paused;
} 
.inner-border::-webkit-scrollbar {
  display: none;
}